body {
    background-image: url(/images/books_abc.jpg);
    background-size: cover;
}

.login .card {
    margin-top: 100px;
}

.login .card {
    background: rgb(250, 250, 250, .4);
}

.card-action {
    padding-top: -50px;
    height: 110px;
}

[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:before,
[type="radio"].with-gap:checked+span:after {
    border: 2px solid #ef5350;
}

[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:after {
    background-color: #ef5350;
}

a {
    color: white;
}